@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+4:opsz@8..60&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}
.home-grid-container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 6fr 1fr;
}

/* Header & Nav */

header {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #2E2E3A;
}
header h1 {
  font-family: "Source Serif 4", "serif";
  color: #96CDFF;
  text-align: center;
  text-decoration: none;
}
header h1 a{
  font-family: "Source Serif 4", "serif";
  color: #96CDFF;
  text-decoration: none;
}


/* Footer */

footer {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  padding: 0% 3%;
  justify-content: space-between;
  align-items: center;
  background-color: #2E2E3A;
}
footer h1 {
  font-family: "Source Serif 4", "serif";
  color: #96CDFF;
  padding: 10px;
  text-align: center;
}

/* Main */

main {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #454851;
}

#menuToggle
{
display: block;
position: relative;
top: 0px;
left: 50px;
bottom: 10px;
max-width: 90%;

z-index: 1;

-webkit-user-select: none;
user-select: none;
}

#menuToggle a
{
text-decoration: none;
color: #FFFFFF;

transition: color 0.3s ease;
}

#menuToggle a:hover
{
color: #96CDFF;
}


#menuToggle input
{
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: -5px;

cursor: pointer;

opacity: 0; /* hide this */
z-index: 2; /* and place it over the hamburger */

-webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span
{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;

background: #cdcdcd;
border-radius: 3px;

z-index: 1;

transform-origin: 4px 0px;

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}

#menuToggle span:first-child
{
transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: #FFFFFF;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu
{
position: absolute;
width: 105%;
height: 114vh;
margin: -150px 0 0 -50px;
padding: 100px;
padding-top: 150px;

background: #2E2E3A;
list-style-type: none;
-webkit-font-smoothing: antialiased;
/* to stop flickering of text in safari */

transform-origin: 0% 0%;
transform: translate(-100%, 0);

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
padding: 10px 0;
font-size: 22px;
text-align: center;
}

/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul
{
transform: none;
}

#mobileNav {
  display: block; /* Show by default */
}

#desktopNav {
  display: none; /* Hide by default */
}

/*Footer Nav*/
#footernav {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#footernav li {
  display: inline-block;
  padding: 0 20px;
}

#footernav li a {
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
}

#footernav li a:hover,
#footernav li a:focus {
  text-decoration: none;
  text-decoration-color: #96CDFF;
  color: #96CDFF;
}

#footernav {
  display: none; /* Show by default */
}













@media screen and (min-width: 900px)  {
.grid-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr 1fr;
    grid-template-areas: "head" "main" "foot";
}

/* Header & Nav */

header {
  grid-column: 1/2;
  grid-row: 1/2;
    background-color: #2E2E3A;
}
header h1 {
    font-family: "Source Serif 4", "serif";
    color: #96CDFF;
    text-align: center;
    padding-top: 10px;
}


/* Footer */

footer {
  grid-column: 1/2;
  grid-row: 3/4;
    display: flex;
    padding: 0% 3%;
    justify-content: space-between;
    align-items: center;
    background-color: #2E2E3A;
}
footer h1 {
    font-family: "Source Serif 4", "serif";
    color: #96CDFF;
    padding: 10px;
    text-align: center;
}

/* Main */

main {
  grid-column: 1/2;
  grid-row: 2/3;
    background-color: #454851;
}

#menuToggle span {
  display: none;
}

#menu {
  display: none;
}

#desktopNav {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    #desktopNav li {
        display: inline-block;
        padding: 0 20px;
    }

    #desktopNav li a {
        font-size: 20px;
        text-decoration: none;
        color: #FFFFFF;
    }

    #desktopNav li a:hover,
    #desktopNav li a:focus {
        text-decoration: none;
        text-decoration-color: #96CDFF;
        color: #96CDFF;
    }

/* Mobile Navigation */
#mobileNav {
  display: none; /* Show by default */
}
}



