main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    margin: 25px 25px;
    font-family: "Source Serif 4", "serif";
    font-size: 3rem;
    color: #FFFFFF;
}

main dl {
    margin-bottom: 25px;
    padding: 0px 25px;
    max-width: 95%;
    color: #FFFFFF;
}
main dt {
    padding-bottom: 25px;
    font-size: 2rem;
    font-weight: bold;
}
main dd {
    padding-bottom: 25px;
    font-size: 1.15rem;
    text-indent: 25px;
}

.desc-container {
    display: flex;
    padding-bottom: 25px;
    flex-direction: column;
}
.desc-container img {
    max-width: 95%;
}