main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "heading";
    justify-items: center;
}

main h2 {
    grid-area: heading;
    margin: 25px 25px;
    font-family: "Source Serif 4", "serif";
    font-size: 3rem;
    color: #FFFFFF;
    justify-self: center;
}