body {
    overflow-x: hidden;
}




/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h1{
    margin: 25px 25px;
        font-family: "Source Serif 4", "serif";
        font-size: 3rem;
        color: #FFFFFF;
}

main h2 {
    margin: 25px 25px;
    font-family: "Source Serif 4", "serif";
    font-size: 2rem;
    color: #FFFFFF;
}

main h3 {
    margin-left: 2%;
    font-family: "Source Serif 4", "serif";
    font-size: .5rem;
    color: #FFFFFF;
    align-self: flex-start;
}

main p {
    margin: 25px 25px;
    font-size: 1.2rem;
    color: #FFFFFF;
    text-indent: 25px;
}


.form-container {
    grid-area: message-form;
    height: 95%;
    width: 95%;
    margin: 15px 0px;
    border: 1px solid #A9A9A9;
    background-color: #F5F5F5;
}

form {
    margin: 20px 20px;
}

fieldset {
    border: none;
}

legend {
    padding-bottom: 2rem;
    font-weight: bold;
}

input {
    height: 3rem;
    width: 100%;
    padding-left: 1rem;
    font-size: 1rem;
}

textarea {
    width: 100%;
}

#submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit:hover {
    background-color: #0056b3;
}
#submit:focus {
    background-color: #0056b3;
}

/* Media Query */

@media screen and (min-width: 900px)  {
    .desc-container img {
        max-width: 60%;
        max-height: 60%;
        margin-bottom: 0px;
    }
}